<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Ejercicio 6</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-instrucciones [instrucciones]='instrucciones' [numEj]='6'></app-instrucciones>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Ordenamiento de números</ion-card-title>
      <ion-card-subtitle>Ingresa números separados por un espacio</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Ingresa números</ion-label>
        <ion-textarea [(ngModel)]="numerosText"></ion-textarea>
      </ion-item>
      <ion-button expand="full" fill="solid" (click)="ordenar()">Ordenar</ion-button>
      <ion-text *ngIf="numerosAs.length > 0" color="primary">
        <h3>Numeros ordenados de forma ascendente</h3>
        <span *ngFor="let element of numerosAs">{{element}},</span>
        <h3>Numeros ordenados de forma descendente</h3>
        <span *ngFor="let element2 of numerosDe">{{element2}},</span>
      </ion-text>
    </ion-card-content>

  </ion-card>

</ion-content>